body {
    margin: 0;
}

header.header {
    width: 100%;
    height: auto;
    padding: 16px 50px;
    position: fixed;
    top: 0;
    z-index: 10;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    gap: 24px;

    backdrop-filter: blur(24px);
    transition: background-color 0.45s ease-in-out;
}

.header.scrolled {
    background-color: var(--white);
}

main {
    width: 100vw;
    padding-top: 72px;
}

.header_div_logo {
    position: relative;
    width: 100%;
    max-width: 147px;
    min-width: 88px;
    height: 40px;
}

.div_img_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header_nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
}

.nav_ul_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 24px;
}

.ul_li {
    width: auto;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
}

.ul_li .li_a_link {
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-18);
    line-height: 120%;
    letter-spacing: -0.01em;

    color: var(--black);
}

.text {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-16);
    line-height: 125%;
    text-align: center;
    letter-spacing: -0.01em;

    color: var(--black);
}

.header_div_container {
    width: 100%;
    height: 40px;

    margin-left: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 16px;
}

.language_container {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 8px;

    cursor: pointer;
}

.language_container:after {
    content: url(../assets/arrow-down.svg);

    display: inline;
    position: relative;

    top: 0;
    left: 0;
}

.language_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 8px 12px;
}

.language_div_image {
    position: relative;
    width: 24px;
    height: 16px;
}

.language_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    object-fit: contain;

    filter: drop-shadow(0px 1px 12px rgba(0, 0, 0, 0.06)) drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.06)) drop-shadow(0px -8px 34px rgba(0, 0, 0, 0.03));
    border-radius: 4px;
}

.language_dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    width: 100%;
    height: auto;

    display: none;
    flex-direction: column;
    align-items: center;
    padding: 16px;

    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06), 0 4px 12px rgba(0, 0, 0, 0.06), 0 -8px 34px rgba(0, 0, 0, 0.03);
    border-radius: 8px;

    background: var(--white);

    flex: none;
    order: 1;
    flex-grow: 0;
}

.language_dropdown_item {
    cursor: pointer;

    width: 100%;
    height: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.container_div_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 17px;
    gap: 10px;

    position: relative;
    width: 100%;
    min-width: fit-content;
    height: 40px;

    border-radius: 100px;
}

.container_div_button.white {
    border: 1px solid var(--gray-300);
}

.text.black {
    color: var(--black);
}

.container_div_button.black {
    background: var(--black);
    border: 1px solid var(--black);
}

.text.white {
    color: var(--white);
}

.qr_code:before {
    content: url(../assets/qr.svg);
    display: inline;
    position: relative;
    margin-right: 12.5px;
    height: 15px;
    top: 1px;
    left: 0;

    transition: all 0.45s ease-in-out;
}

.qr_code_mobile {
    display: none;
}

a.li_a_link.text {
    cursor: pointer;
    transition: all 0.45s ease-in-out;
}

a.li_a_link.text.black {
    color: var(--black);
}

a.li_a_link.text.white {
    color: var(--white);
}

a.li_a_link.text:hover {
    color: var(--violet);
}

.container_div_button, .button_text {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

/*WHITE VARIANT (DEFAULT)*/
.container_div_button.white {
    background: var(--white);
}

.button_text.black {
    color: var(--black);
}

/*BLACK VARIANT (FOR HOVER)*/
.container_div_button.white:hover {
    background: var(--black);
    border-color: var(--black);
}

.container_div_button.white:hover .button_text.black {
    color: var(--white);
}

/*GRAY VARIANT (FOR ACTIVE)*/
.container_div_button.white:active {
    background: var(--gray-400);
    border-color: var(--gray-400);
}

.container_div_button.white:active .button_text.black {
    color: var(--white);
}

/*BLACK VARIANT (DEFAULT)*/
.container_div_button.black {
    background: var(--black);
    border: 1px solid var(--black);
}

.button_text.white {
    color: var(--white);
}

/*WHITE VARIANT (FOR HOVER)*/
.container_div_button.black:hover {
    background: var(--white);
    border: 1px solid var(--gray-400);
}

.container_div_button.black:hover .button_text.white {
    color: var(--black);
}

/*GRAY VARIANT (FOR ACTIVE)*/
.container_div_button.black:active {
    background: var(--white);
    border: 1px solid var(--gray-400);
}

.container_div_button.black:active .button_text.white {
    color: var(--gray-400);
}

/*QR-CODE (FOR HOVER)*/
.container_div_button:hover .qr_code:before {
    content: url(../assets/qr-black.svg);
}

/*QR-CODE (FOR ACTIVE)*/
.container_div_button:active .qr_code:before {
    content: url(../assets/qr-gray.svg);
}

/*BURGER MENU*/
.burger-checkbox {
    display: none;
    position: relative;
    cursor: pointer;
}

.burger_image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.burger {
    cursor: pointer;

    display: none;
    position: absolute;
    top: 35px;
    right: 20px;

    border: none;
    background: transparent;

    width: 40px;
    height: 26px;
    scale: 0.5;

    margin: 0;
    z-index: 6;
}
.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
}
.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.burger-checkbox:checked ~ .header_nav, .burger-checkbox:checked ~ .header_div_container {
    transform: translateX(0);
}

/*BURGER MENU*/
@media (max-width: 768px) {
    header.header {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 24px repeat(3, 1fr);
        align-content: space-between;

        padding: 16px 20px;
    }

    .burger_menu, .burger {
        display: block;

        top: 16px;
        right: 20px;
    }

    .burger-checkbox {
        position: relative;

        grid-column: 2;
        grid-row: 1;
    }

    .header_div_logo {
        display: block;
        align-items: start;
        position: relative;

        grid-column: 1;
        grid-row: 1;
    }

    .header_nav {
        display: block;
        position: relative;

        grid-column: 1 / 3;
        grid-row: 2 / 3;

        padding: 0;
    }

    .header_div_container {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        position: relative;

        grid-column: 1 / 3;
        grid-row: 4;

        padding: 0;
    }

    .container_div_button {
        padding: 0;
    }

    .header_div_container, .header_nav {
        width: 100%;
        transform: translateX(-100vw);
        z-index: 5;

        background-color: rgba(255, 255, 255, 0);

        transition: all 0.4s ease-in-out;
    }

    .burger-menu {
        display: block;
    }
}

main.main {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 700px;

    background: var(--light-gray);
}

.main_section_usp {
    display: grid;
    width: 1420px;
    height: auto;

    margin: auto;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);

    background: url(../assets/blur-back.svg), url(../assets/grid-back.svg);

    padding: 56px 0 0 0;
}

.usp_div_left {
    grid-column: 1 / 4;

    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
}

.usp_text_frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 16px;

    width: 100%;
    height: auto;
    min-height: 344px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

h1.h1_usp {
    width: 100%;
    height: auto;

    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-80);
    line-height: 120%;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    color: var(--black);

    z-index: 4;
}

.usp_p_content {
    width: auto;
    height: auto;
    max-width: 355px;

    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-16);
    line-height: 125%;
    letter-spacing: -0.01em;

    color: var(--gray-400);
}

.usp_div_right {
    grid-column: 4 / 7;

    position: relative;
    display: grid;
    width: 100%;
    height: 577px;
    grid-template-columns: 20px repeat(4, 1fr);
    grid-template-rows: 20px repeat(4, 1fr);
}

.image_container {
    position: relative;
    width: 100%;
    height: 100%;

    z-index: 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;

    filter: drop-shadow(0px 8px 16px rgba(48, 48, 48, 0.08));
}

.iphone.image_container {
    grid-row: 1 / 6;
    grid-column: 1 / 6;

    z-index: 1;
}

.order_card.image_container {
    width: 320px;
    height: 128px;

    grid-row: 2 / 3;
    grid-column: 2;

    z-index: 3;
}

.card_group.image_container {
    width: 266px;
    height: 176px;

    grid-row: 4;
    grid-column: 1 / 2;

    z-index: 3;
}

.panel.image_container {
    width: 294px;
    height: 164px;

    grid-row: 5;
    grid-column: 4;

    z-index: 3;
}

/*LARGE DESKTOP*/
@media(max-width: 1600px) {

}

/*DESKTOP*/
@media(max-width: 1440px) {
    .main_section_usp {
        width: 1240px;
    }
}

@media(max-width: 1280px) {
    .main_section_usp {
        width: 1000px;
    }

    .usp_div_left {
        width: 100%;
        grid-column: 1 / 5;
    }

    .usp_div_right {
        max-width: 240px;
        width: auto;
        position: absolute;
        top: 50%;
        left: calc(100vw - 510px);
        transform: translate(0%, -65%);
        scale: 0.8;
    }

    h1.h1_usp {
        font-size: 70px;
    }
}

@media(max-width: 980px) {
    h1.h1_usp {
        font-size:var(--font-size-56);
    }

    .usp_p_content {
        font-size: var(--font-size-13);
    }

    .ul_li .li_a_link {
        font-size: var(--font-size-13);
        padding: 0;
        height: fit-content;
        gap: 10px;
    }

    .qr_code:before {
        top: -1px;
    }

    .text {
        font-size: var(--font-size-13);
    }

    .usp_div_left {
        margin-left: 20px;
        grid-column: 1 / 4;
    }

    .usp_div_right {
        max-width: 240px;
        width: auto;
        position: absolute;
        top: 0;
        left: calc(100vw - 425px);
        transform: translate(0%, 0%);
        scale: 0.6;
    }

    .iphone.image_container {
        margin-left: 50px;

        grid-row: 1 / 6;
        grid-column: 3 / 7;

        z-index: 1;
    }

    .order_card.image_container {
        width: 320px;
        height: 128px;

        grid-row: 2 / 3;
        grid-column: 3 / 4;

        z-index: 3;
    }

    .card_group.image_container {
        width: 266px;
        height: 176px;

        grid-row: 4;
        grid-column: 3 / 4;

        z-index: 3;
    }

    .panel.image_container {
        width: 294px;
        height: 164px;

        grid-row: 5;
        grid-column: 6;

        z-index: 3;
    }
}

/*TABLET*/
@media(max-width: 830px) {
    .header_div_logo {
        max-width: 88px;
    }

    .header_nav, .header_div_container {
        width: 100%;
    }

    header.header {
        flex-wrap: nowrap;
        padding: 16px 20px;
    }

    .ul_li {
        padding: 0;
        height: fit-content;
    }

    .container_div_button {
        width: fit-content;
        padding: 8px 16px;
        min-width: fit-content;
        gap: 0;
    }

    .container_div_button.white {
        width: 100%;
    }

    a.qr_code {
        display: flex;
        width: fit-content;
    }

    a.qr_code:before {
        top: -1px;
    }

    .qr_code_mobile {
        display: none;
    }

    .container_div_button.black:hover .qr_code_mobile {

    }

    h1.h1_usp {
        font-size: var(--font-size-56);
    }

    .usp_div_left {
        margin-left: 20px;
        grid-column: 1 / 3;
    }

    .card_group.image_container {
        grid-row: 5;
    }

    .panel.image_container {
        grid-row: 4;
    }
}

@media(max-width: 768px) {
    /*TODO: DELETE*/
    header.header {
        display: none;
    }

    .main_section_usp {
        width: calc(100vw - 40px);
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto 1fr;
    }

    .usp_div_left {
        margin: 0;
        grid-column: 1 / 7;
    }

    .usp_div_right {
        position: relative;
        grid-column: 1 / 7;
        width: calc(100vw - 20px);
        grid-template-columns: 20px repeat(4, 1fr);
        grid-template-rows: 20px repeat(3, auto);
        grid-auto-rows: minmax(20px, auto);

        max-width: none;
        top: 0;
        left: 0;

        scale: 1;
    }

    .iphone.image_container {
        margin: 0;
        width: 100%;

        grid-row: 1 / 5;
        grid-column: 1 / 7;

        z-index: 1;
    }

    .order_card.image_container,
    .card_group.image_container,
    .panel.image_container {
        max-width: 300px;
        width: 100%;
        max-height: 180px;
        height: fit-content;
    }

    .order_card.image_container {
        margin: 0;

        grid-row: 2 / 3;
        grid-column: 2 / 4;

        z-index: 3;
    }

    .card_group.image_container {
        margin: 0;

        grid-row: 3 / 4;
        grid-column: 1 / 4;

        z-index: 3;
    }

    .panel.image_container {
        margin: 0;

        grid-row: 4 / 5;
        grid-column: 4 / 6;

        z-index: 3;
    }

    .language_container {
        width: 100%;
        justify-content: space-between;
    }

    .container_div_button.black {
        width: 100%;
        background: var(--black);
        border: 1px solid var(--black);
    }

    .qr_code_mobile {
        display: none;
        width: 0;
        height: 0;
    }

    a.qr_code {
        display: block;
        width: fit-content;
    }

    a.qr_code:before {
        display: none;
    }

    .nav_ul_list {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 16px;

        list-style: none;
        padding: 0;
    }

    .ul_li .li_a_link {
        font-size: var(--font-size-22);
    }

    .li_a_link {
        display: block;
        padding: 10px;
        color: #000;
        text-decoration: none;
    }
}

@media(max-width: 600px) {
    h1.h1_usp {
        font-size:var(--font-size-40);
    }

    .main_section_usp {
        background: url(../assets/grid-back.svg);
    }

    .usp_div_right {
        margin-top: -60px;
        margin-bottom: -60px;
    }

    .iphone.image_container {
        grid-column: 1 / 7;
    }

    .order_card.image_container,
    .card_group.image_container,
    .panel.image_container {
        scale: 0.8;
    }

    .iphone.image_container,
    .panel.image_container {
        top: -80px;
    }

    .order_card.image_container {
        top: 0;
    }

    .panel.image_container {
        grid-column: 4 / 7;
    }
}

/*MOBILE*/
@media(max-width: 390px) {

}